# Zephyr Scale (Jira)
ZEPHYR_BASE_URL=https://your-jira-instance.com/rest/atm/1.0
ZEPHYR_TOKEN=your_zephyr_api_token_here
ZEPHYR_PROJECT_KEY=PROJ

# Squash TM
SQUASH_BASE_URL=https://your-squash-instance.com/squash/api/rest/v1
SQUASH_USERNAME=admin
SQUASH_PASSWORD=admin
SQUASH_PROJECT_ID=123
